@import url("https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap");
@import "tailwindcss";

body {
  background-color: #1e1e1e;
  color: white;
  font-family: "JetBrains Mono", monospace;
}

.navButton {
}

.arrow {
  transition: 0.3s;
  transform: rotate(-40deg);
}

.navButton:hover .arrow {
  transform: rotate(0deg);
}

.name {
  display: block;
}

.nameHidden {
  display: none;
}

.name:hover .nameHidden {
  display: block;
}
.nameHidden:hover .name {
  display: none;
}

/* ===================================*/
.logo-sizer {
  visibility: hidden;
  white-space: nowrap;
  pointer-events: none;
}

.logo-wrapper {
  position: relative;
  height: 32px;
  overflow: hidden;
  cursor: pointer;
  width: max-content;
  line-height: 32px;
  letter-spacing: 0.5px;
  font-size: x-large;
}

.logo-text {
  position: absolute;
  left: 0;
  top: 0;
  transition: transform 0.35s ease;
  white-space: nowrap;
  will-change: transform;
}

.primary {
  transform: translateY(0%);
}

.secondary {
  transform: translateY(100%);
}

.logo-wrapper:hover .primary {
  transform: translateY(-100%);
}

.logo-wrapper:hover .secondary {
  transform: translateY(0%);
}
